<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="AppConfigs" type="WindowsService.AppConfigs, WindowsService"/>
  </configSections>

  <AppConfigs>
    <FileConfigs Dir="SELServices" FileName="StoreMaxId.txt"></FileConfigs>
  </AppConfigs>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>