<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="AppConfigs" type="SELService.AppConfigs, SELService"/>
  </configSections>

  <AppConfigs>
    <FileConfigs Dir="SELService" FileName="StoreMaxId.txt"></FileConfigs>
    <WebServiceConfigs URI="https://10.3.2.153:5001/api/sel" APIKey="2fe7dec1-05c2-460f-8bac-92fba8197ba7"></WebServiceConfigs>
    <PageConfigs MaxRowInPage="1000"></PageConfigs>
    <DonViConfigs MaDVQL="EVN01001" TenDVQL="Công ty Truyền tải điện 1"></DonViConfigs>
    <ServiceConfigs RefreshTime="60"></ServiceConfigs>
  </AppConfigs>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="ATS_DB"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=Server_FL-1;Initial Catalog=ATS_FL;Persist Security Info=True;User ID=gis;Password=12345a@"/>
  </connectionStrings>
  
</configuration>