<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="AppConfigs" type="AutoRemoveCuSet.AppConfigs, AutoRemoveCuSet" />
  </configSections>

  <AppConfigs>
    <FeatureCuSets CuSet1Ngay="https://gis.npt.com.vn/server/rest/services/CuSet_1Ngay_IUD/FeatureServer/0/deleteFeatures" CuSet1Thang="https://gis.npt.com.vn/server/rest/services/CuSet_1Thang_IUD/FeatureServer/0/deleteFeatures" CuSet1Quy="https://gis.npt.com.vn/server/rest/services/CuSet_1Quy_IUD/FeatureServer/0/deleteFeatures">
    </FeatureCuSets>
    <Portals UserName="portal" PassWord="EVNNPT.2022!" GenerateToken="https://gis.npt.com.vn/portal/sharing/rest/generateToken">
    </Portals>
  </AppConfigs>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>