<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="LogDir" value="C:/Logs/WindowService"/>
  <variable name="LogDay" value="${date:format=yyyyMMdd}"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="${LogDir}/Log_${LogDay}.log" encoding="utf-8" concurrentWrites="true" maxArchiveFiles="2"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>